<header class="bg-primary">
    <div class="container navbar py-3 d-flex justify-content-between align-items-center">
        <a href="index.html" class="logo">
            <img src="/assets/images/logo-white.png" alt="首頁">
        </a>
        <ul class="menu fs-5 d-flex align-items-center gap-16">
            <li class="item"><a href="#" class="text-white link">系列鏡框</a></li>
            <li class="item"> <a href="#" class="text-white link">門市據點</a></li>
            <li class="item"><a href="#" class="text-white link">部落格</a></li>
            <li class="item"><a href="#" class="text-white link">常見問題</a></li>
        </ul>
    </div>
</header>