<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Glasses Website - 系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="seriesTitle">
        <div class="container">
            <ul class="list d-flex align-items-center justify-content-center ">
                <li class="item text-center"><h3><a href="series_optical.html" class="currentPage text-robot py-6 link fw-medium text-dark">OPTICAL</a></h3></li>
                <li class="item text-center"><h3><a href="series_sunglasses.html" class="text-robot py-6 link fw-medium text-dark">SUNGLASSES</a></h3></li>
                <li class="item text-center"><h3><a href="#" class="text-robot py-6 link fw-medium text-dark">FUNCTIONAL</a></h3></li>
            </ul>
        </div>
    </div>

    <div class="seriesBanner d-flex">
        <div class="imgLeft bannerArea"></div>
        <div class="imgRight bannerArea"></div>
    </div>

    <div class="productList">
        <div class="container py-20">
            <div class="textArea text-center mb-8">
                <h1 class="text-robot text-dark title fw-medium ">Celluloid Combi</h1>
                <h2 class="text-dark subtitle">賽璐珞鈦金屬混合鏡框</h2>
            </div>
            <ul class="list d-flex flex-wrap gap-6 justify-content-between mb-20">
                <li class="item mb-14">
                    <img src="../assets/images/product-1.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item mb-14">
                    <img src="../assets/images/product-2.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item mb-14">
                    <img src="../assets/images/product-3.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item mb-14">
                    <img src="../assets/images/product-4.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item mb-14">
                    <img src="../assets/images/product-5.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item mb-14">
                    <img src="../assets/images/product-6.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item mb-14">
                    <img src="../assets/images/product-1.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item mb-14">
                    <img src="../assets/images/product-2.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item">
                    <img src="../assets/images/product-3.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item ">
                    <img src="../assets/images/product-4.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item">
                    <img src="../assets/images/product-5.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                <li class="item ">
                    <img src="../assets/images/product-6.png" alt="BJ41600S">
                    <div class="detail d-flex justify-content-between align-items-center">
                        <h4 class="fs-4 text-robot">BJ41600S</h4>
                        <span class="fs-4 text-robot text-primary fw-medium">NTD3,490</span>
                    </div>
                    
                    <ul class="colorList d-flex gap-1">
                        <li ><a href="#" class="color bg-brown"></a></li>
                        <li ><a href="#" class="color bg-orange"></a></li>
                    </ul>
                    
                </li>
                
            </ul>

            <ul class="pagination d-flex justify-content-center align-items-center">
                <li class="page"><a href="#" class="previous text-robot text-dark-gray">上一頁</a></li>
                <li class="page"><a href="series_optical.html" class="link text-dark-gray py-3 pageOne currentpage">1</a></li>
                <li class="page"><a href="series_sunglasses.html" class="link text-dark-gray py-3 ">2</a></li>
                <li class="page"><a href="#" class="link text-dark-gray py-3">3</a></li>
                <li class="page"><a href="#" class="link text-dark-gray py-3">4</a></li>
                <li class="page"><a href="#" class="link text-dark-gray py-3">5</a></li>
                <li class="page"><a href="#" class="next text-robot text-dark-gray">下一頁</a></li>
            </ul>

        </div>
    </div>
   

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
